---
title: Home
layout: default
bannertitle: Facilitação de inovação
subtitle: Juntos, resolvemos desafios de forma criativa e inovadora
image: home-banner.jpg
---

<main class="home">

	<!-- banner -->
	{% include banner-home.html %}

	<!-- services -->
	<section id="services" class="sample-services">
		<div class="services-content container">
			<div class="box-services">
				<img class="services-icon" src="{{ site.baseurl }}assets/icons/assessoria.svg" alt="">
				<div class="services-info">
					<h3 class="services-title">Facilitação</h3>
					<p class="services-description">para tornar a criação da inovação mais tranquila e alinhada com os objetivos da empresa e colaboradores.</p>	
				</div>
			</div>
			<div class="box-services">
				<img class="services-icon" src="{{ site.baseurl }}assets/icons/agilidade.svg" alt="">
				<div class="services-info">
					<h3 class="services-title">Agilidade</h3>
					<p class="services-description">para criar e aprender é indispensável no mundo atual.</p>	
				</div>
			</div>
			<div class="box-services">
				<img class="services-icon" src="{{ site.baseurl }}assets/icons/inovacao.svg" alt="">
				<div class="services-info">
					<h3 class="services-title">Inovação</h3>
					<p class="services-description">na busca pela evolução. Usamos ferramentas e processos atualizados que trazem resultados alinhados com as necessidades do mercado atual.</p>	
				</div>
			</div>
		</div>
	</section>

	<!-- projects -->
	<section id="portfolio" class="sample-best-projects">
		<h4 class="section-title">Minhas melhores colaborações</h4>
		<p class="section-subtitle">Veja os projetos mais legais que colaborei.</p>

		<ul class="list-filter-projects">
			<li id="todos-item" class="item-filter-projects active"><span>Todos</span></li>
			{% assign rawtags = "" %}
			{% for post in site.projects %}
				{% assign ttags = post.tags | join:'|' | append:'|' %}
				{% assign rawtags = rawtags | append:ttags %}
			{% endfor %}
			{% assign rawtags = rawtags | split:'|' | sort %}

			{% assign site.tags = "" %}
			{% for tag in rawtags %}
				{% if tag != "" %}
					{% if tags == "" %}
						{% assign tags = tag | split:'|' %}
					{% endif %}
					{% unless tags contains tag %}
						{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
					{% endunless %}
				{% endif %}
			{% endfor %}

			{% for tag in tags %}
				{% if tag != "" %}
					{% assign t = tag | first %}
					{% assign posts = tag | last %}
					<li id="{{ tag }}-item" class="item-filter-projects"><span>{{ tag }}</span></li>
				{% endif %}
			{% endfor %}
		</ul>

		<div id="todos-container" class="wrapper-projects">
		{% assign projects = site.projects | sort: 'order' %}
		{% for project in projects %}
			{% assign isbig = forloop.index | modulo:9 %}
			{% assign isbig2 = forloop.index | modulo:11 %}
			<a href="{{ site.baseurl }}{{ project.permalink }}" class="
				projetos-loop 
				projeto-all-{{forloop.index}} 
				{% if forloop.index > 6 %}hidden{% endif %} 
				{% if forloop.index == 1 or isbig == 0 or isbig2 == 0 %}big{% endif %}
			">
				<div class="projects">
					<img src="{{ site.baseurl }}upload/{{ project.image }}" alt="">
					<div class="wrapper-title-projects">
						<p class="title-project">{{ project.title }}</p>
					</div>
				</div>
			</a>
    	{% endfor %}
		</div>
		{% for tag in tags %}
			{% if tag != "" %}
				<div id="{{ tag }}-container" class="wrapper-projects hidden">
				{% assign projects = site.projects | sort: 'order' | where: 'tags',tag %}
				{% for project in projects %}
				{% assign isbig = forloop.index | modulo:9 %}
				{% assign isbig2 = forloop.index | modulo:11 %}
					<a href="{{ site.baseurl }}{{ project.permalink }}" class="
						projetos-loop 
						projeto-{{tag}}-{{forloop.index}} 
						{% if forloop.index > 6 %}hidden{% endif %} 
						{% if forloop.index == 1 or isbig == 0 or isbig2 == 0 %}big{% endif %}
					">
						<div class="projects">
							<img src="{{ site.baseurl }}upload/{{ project.image }}" alt="">
							<div class="wrapper-title-projects">
								<p class="title-project">{{ project.title }}</p>
							</div>
						</div>
					</a>
				{% endfor %}
				</div>
			{% endif %}
		{% endfor %}
		<button class="btn-primary item-vermais-projects">Ver mais</button>
	</section>

	<!-- cooperation -->
	<section id="partners" class="sample-cooperation container">
		<h4 class="section-title">Com quem colaborei</h4>
		<p class="section-subtitle">Pessoas e empresas incríveis com quem colaborei (trabalhei junto).</p>
		<div class="wrapper-cooperation-projects">

		{% for partner in site.partners %}
			<div class="cooperation-projects">
				<img class="cooperation-img" src="{{ site.baseurl }}upload/{{ partner.image }}" alt="{{ partner.title }}">
			</div>
		{% endfor %}

		</div>

	</section>

	<!-- testimony -->
	<section id="testimonials" class="testimonials">
		<h4 class="section-title">O que eles acharam</h4>
		<p class="section-subtitle">Saiba o que eles acharam da minha colaboração</p>
		
		<!-- slider -->
		<div class="slider-testimonials container">
			
			{% for testimonial in site.testimonials %}

			<div class="box-slider">
				<div class="box-content">
					<img src="{{ site.baseurl }}assets/icons/comma.png" alt="" class="icon-commas">
					<div class="wrapper-text-slider">
						{{ testimonial.content | markdownify }}
						<div class="info-text">
							<p>
								<span class="info-name">{{ testimonial.client }}</span>
								<span class="space-text">—</span>
								<span class="info-role">{{ testimonial.role }}</span>
							</p>
							
						</div>
					</div>
				</div>
			</div>

    		{% endfor %}
		</div>
	</section>

	<!-- call to action -->
	{%- include call-to-action.html -%}

	<!-- blog -->
	<section id="blog" class="blog">
		<h4 class="section-title">Novidades do blog</h4>
		<p class="section-subtitle">No blog eu escrevo sobre design, inovação, empreendedorismo e muito mais. Veja as novidades!</p>

		<div class="container">
			<div class="wrapper-posts">

				{% for medium in site.mediums %}
				<div class="post-card">
					<a href="https://medium.com/processocriativo/{{ medium.link }}" target="_blank">
						<img src="{{ site.baseurl }}upload/{{ medium.image }}" alt="" class="img-post">
						<div class="post-info">
							<p class="post-category">{{ medium.category }}</p>
							<p class="post-title">{{ medium.title }}</p>
							<div class="post-about">
								<p>por <span class="post-author">{{ medium.author }}</span></p>
								<p class="post-date">{{ medium.tempo }}</p>
							</div>
						</div>
					</a>
				</div>
				{% endfor %}
				
			</div>
		</div>
	</section>
</main>
