<section class="banner banner-pages">
	<img class="banner-img" src="{{ site.baseurl }}{{ page.image }}" alt="banner">
	<div class="banner-wrapper-info">
		<div class="banner-box-center">
			<h2 class="banner-title">{{ page.title }}</h2>
			<p class="banner-subtitle">{{ page.subtitle }}</p>
		</div>
		<div class="banner-box-bottom">
			<a href="mailto:{{ site.email }}">{{ site.email }}</a>
			<a href="href="https://api.whatsapp.com/send?phone=5511976757107" target="_blank"">{{ site.phone }}</a></li>
		</div>
	</div>
</section>