<section class="sample-services">
	{% if page.services_title %}
	<h4 class="section-title">{{ page.services_title }}</h4>
	{% endif %}
	<div class="services-content container">
		<div class="box-services">
			<img class="services-icon" src="{{ site.baseurl }}assets/icons/assessoria.svg" alt="">
			<div class="services-info">
				<h3 class="services-title">Assessoria</h3>
				<p class="services-description">feita em encontro presencial que proporciona um processo criativo com ferramentas e metodologias que instigam a inovação.</p>	
			</div>
		</div>
		<div class="box-services">
			<img class="services-icon" src="{{ site.baseurl }}assets/icons/agilidade.svg" alt="">
			<div class="services-info">
				<h3 class="services-title">Agilidade</h3>
				<p class="services-description">para criar soluções objetivas, práticas e facilmente aplicáveis.</p>	
			</div>
		</div>
		<div class="box-services">
			<img class="services-icon" src="{{ site.baseurl }}assets/icons/inovacao.svg" alt="">
			<div class="services-info">
				<h3 class="services-title">Inovação</h3>
				<p class="services-description">na busca pela evolução. Usamos ferramentas e processos atualizados que trazem resultados alinhados com as necessidades do mercado atual.</p>	
			</div>
		</div>
	</div>
</section>