.wrapper-cooperation-projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .cooperation-projects {
        width: 200px;
        padding: 5px;
        margin: 0 30px;
    }

    .cooperation-img {
        width: 100%;
        height: 155px;
        object-fit: contain;
        display: grid;
        filter: grayscale(100%);

        @media only screen and (max-width: $screen-sm-max){
            height: 140px;
        }
	}
}