.wrapper-cooperation-projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .cooperation-projects {
        width: 200px;
        padding: 5px;
        margin: 0 10px;
    }

    .cooperation-img {
        width: 100%;
        height: 155px;
        object-fit: contain;
        display: grid;
        filter: grayscale(100%);

        @media only screen and (max-width: $screen-sm-max){
            height: 140px;
        }
	}

    .slick-list{
        width: 90%;
    }

    .slick-prev.slick-arrow, .slick-next.slick-arrow{
        top: 33%;

        @media screen and (max-width: 767px){
            top: 37%;
        }
    }

    @media screen and (min-width: 992px){
        .slick-dots {
            margin-top: 40px;
        }
    }
}