{%- include head.html -%}

  <body>
  	<main class="home">
		<!-- header -->
	    {%- include header.html -%}

	    <!-- banner -->
		{%- include banner-home.html -%}
		
		<!-- services -->
		{%- include sample-services.html -%}

		<!-- best projects -->
		{%- include sample-best-projects.html -%}

		<!-- cooperation -->
		{%- include sample-cooperation.html -%}

		<!-- testimonials -->
		{%- include testimonials.html -%}

		<!-- call to action -->
		{%- include call-to-action.html -%}

		<!-- blog -->
		{%- include blog.html -%}

	</main>

	{%- include footer.html -%}

  </body>

</html>